p{
    font-family: cursive;
}
.headers{
    font-family: cursive;
    color: cornflowerblue;
    position: relative;
    left: 2px;
    top: 1px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    background-color: lemonchiffon;
}
.list{
    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
}
.info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
}
